table, th, td{
    border: 1px solid black;
   }

input{
    margin-bottom: 10px;
}

#return_date{
    display: none;
}
  
.active{
    color: red;
}

.chosen{
    text-decoration: underline;
}

h1{
    margin-right: 15px;
}

.title{
    display: flex;
    flex-direction: row;
}

#checkBlock{
    display: none;
}

.prompt{
    font-size: small;
}

#error{
    display: none;
}

#agentForm{
    display: none;
}

#staffForm{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.content{
    margin-left: 30px;
}

.option{
    margin-bottom: 10px;
    text-decoration: underline;
}