{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
{% endif %}

<div class ="title">
    <h1 onclick = "search()" class="chosen" id = "searchButton">Search Flights</h1>
    <h1 onclick = "check()" id = "checkButton" >Check Flight Status</h1>
</div>

<div id="searchBlock">
    <button onclick="oneWay()" class="active" id="oneWayButton">One Way</button>
    <button onclick="roundTrip()" id="roundTripButton">Round Trip</button>
    <form action="/searchFlights" method="POST">
        <input type="text" name = "dept_from" placeholder="place of departure" required/> </br>
        <input type="text" name = "arr_at" placeholder="destination" required/></br>
        <input type="date" name = "dept_date" placeholder="departure date" required/></br>
        <input type="date" name = "return_date" id="return_date" placeholder="return date"/></br>
        <input type="submit" value = Search> <br>
    </form>
</div>

<div id="checkBlock">
    <form action="/checkFlight" method="POST">
        <input type="text" name = "airline_name" placeholder="airline name" required/> </br>
        <input type="text" name = "flight_num" placeholder="flight number" required/> </br>
        <div class="prompt">departure date</div>
        <input type="date" name = "dept_date" placeholder="departure date" /></br>
        <div class="prompt">arrival date</div>
        <input type="date" name = "arr_date" id="arr_date" placeholder="arrival date"/></br>
        <input type="submit" value = Search> <br>
    </form>
</div>

<script src="{{ url_for('static',filename='js/script.js')}}"></script>

{% endblock %} 